body {
    letter-spacing: 2px;
    font-family: fantasy;
    text-align: center;
    color: wheat;
    margin: 200px auto;
    width: 100%;
}

#day {
    font-size: 20px;
    padding: 1em;
}

#clock { 
    border-top: 1px solid wheat; 
    border-bottom: 1px solid wheat;  
    letter-spacing: 10px;
    text-align: center;
    font-weight: 300;
    font-size: 120px;
}

#color {
    letter-spacing: 2px;
}
