
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    position: relative;
    background: no-repeat center fixed;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 5vw ;
    color: wheat;
    margin: 0;
}
.content {
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 2em;
    text-shadow: 2px 2px 2px #282e34;

    letter-spacing: 2px;
}

#clock {
    border: 1px dashed wheat;
    letter-spacing: 0.2em;
}
#day {
    font-size: 1em;
}
#color {
    font-size: 0.7em;
}

.foo {
    display: inline;
}

@media (max-width: 721px) {
    body {
        overflow: hidden;

    }
    .content {
    }
    #clock {
        font-size: 2.5em ;

    }
    #day {
        font-size: 1.5em ;
        margin: auto 1em;
    }

    .content {
        font-size: 40px;
    }

}
@media (max-width: 400px) {

    #clock {
        font-size: 1.7em ;
    }

}
