 
body {
    letter-spacing: 2px;
    font-family: fantasy;
    text-align: center;
    color: wheat;
    margin: 200px auto;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: wheat;
   
}

#day {
    font-size: 3em;
    padding: 0.5em;
    padding-bottom: 0.5em;
}
     
#clock { 
    border-top: 1px solid wheat; 
    border-bottom: 1px solid wheat; 
    letter-spacing: 10px;
    text-align: center;
    font-weight: 300;
    font-size: 9em;
}

#color {
    font-size: 2em;
    letter-spacing: 2px;
}
